<div id="books-index">
	<div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Metaprogramming Ruby</h3>
      <%= image_tag 'covers/metaprogramming_ruby.jpg' %>
      <%= link_to 'Read More', book_path(1), class: "btn btn-primary" %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Programming Google Glass, 2nd edition</h3>
      <%= image_tag 'covers/programming_google_glass_2nd_edition.jpg' %>
      <%= link_to 'Read More', book_path(1), class: "btn btn-primary" %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>The Cucumber for Java Book</h3>
      <%= image_tag 'covers/the_cucumber_for_java_book.jpg' %>
      <%= link_to 'Read More', book_path(1), class: "btn btn-primary" %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Build an Awesome PC, 2014 Edition</h3>
      <%= image_tag 'covers/build_an_awesome_pc_2014_edition.jpg' %>
      <%= link_to 'Read More', book_path(1), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Metaprogramming Ruby</h3>
      <%= image_tag 'covers/metaprogramming_ruby.jpg' %>
      <%= link_to 'Read More', book_path(1), class: "btn btn-primary" %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Programming Google Glass, 2nd edition</h3>
      <%= image_tag 'covers/programming_google_glass_2nd_edition.jpg' %>
      <%= link_to 'Read More', book_path(1), class: "btn btn-primary" %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>The Cucumber for Java Book</h3>
      <%= image_tag 'covers/the_cucumber_for_java_book.jpg' %>
      <%= link_to 'Read More', book_path(1), class: "btn btn-primary" %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Build an Awesome PC, 2014 Edition</h3>
      <%= image_tag 'covers/build_an_awesome_pc_2014_edition.jpg' %>
      <%= link_to 'Read More', book_path(1), class: "btn btn-primary" %>
    </div>
  </div>
</div>